[Unit]
Description=Timestamp Service
After=network.target

[Service]
WorkingDirectory=/home/pi/ruuvi_bs
ExecStart=/usr/bin/npm start
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target